# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.SimulacionMultiagentes.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Development\GitHub\multiagent-system\SimulacionMultiagentes\.idea\.idea.SimulacionMultiagentes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
